<%= render 'shared/nav' %>


<div style="width:80vw; display:flex; background-color:floralwhite; margin-top:15px; margin-bottom:15px; border-radius:5px; padding:10px;">
    <span style="width:40vw; display:flex; align-items:center; justify-items:start; flex-direction:column;">
        <p><%= @listing.address %></p>
        <p><%= @listing.user.email %></p>
        <p><%= @listing.description %></p>

        <p>rating: <%= "⭐" * @listing.rating %></p>

        <p>
            <% if can? :edit, @listing %>
            
                <% if @listing.available %>
                    <%= link_to 'make unavailable', change_path(@listing) %>
                <% else %>
                    <%= link_to 'make available', change_path(@listing) %>
                <% end %>

                <%= link_to 'edit', edit_listing_path(@listing) %>
                <%= link_to 'delete', delete_listing_path(@listing), method: :delete %>
            <% end %>
        </p>
    </span>

    <span style="width:40vw">
        <%= image_tag(@listing.picture, class:"listing_image") if @listing.picture.attached? %>
    </span>
</div>

<%= render 'shared/map', listings: [@listing] %>


<div style="width:80vw; display:flex; background-color:floralwhite; margin-top:15px; margin-bottom:15px; border-radius:5px; padding:10px; justify-items: center;">
    <%= form_with scope: :booking, local: true, url: payment_path(@listing) do |f| %>
        <%= f.label "book this listing for $#{@listing.price / 100.0} per hour for" %>
        <%= f.number_field(:time, in: 1..24, step: 1) %> hours
        <%= f.submit %>
    <% end %>
</div>

<div style="width:80vw; display:flex; align-items:center; background-color:floralwhite; margin-top:15px; margin-bottom:15px; border-radius:5px; padding:10px; justify-items: center;">
    <% if can? :create, Review %>
        <%= form_with scope: :review, local: true do |f| %>
            <%= f.label :review %>
            <%= f.text_field :review %>
            <%= f.label :rating %>
            <%= f.number_field(:rating, in: 1..5, step: 1) %>
            <%= f.submit %>
        <% end %>
    <% else %>
        <p>Please log in to add a review</p>
    <% end %>
</div>

<div style="width:40vw; display:flex; align-items:center; background-color:floralwhite; margin-top:15px; margin-bottom:15px; border-radius:5px; padding:10px;">
    

    <% @listing.reviews.each do |review| %>
        <div>
            <p><%= review.review %> </p>
            <p><%= "⭐" * review.rating%></p>
            <p><%= review.user.email %></p>    
            <% if review.user == current_user %>
                <%= link_to 'edit', edit_review_path(@listing, review) %>
                <%= link_to 'delete', destroy_review_path(@listing, review), method: :delete %>
            <% end %>
        </div>
        <br>
    <% end %>

</div>