<%= render 'shared/nav' %>

<div>
    <% if @listing.available == true %>
        <% address = @listing.address.split(",") %>
        <% address.shift %>
        <p><%= address.join %></p>
        <p>
            <%= @listing.user.email %>
        </p>
        <%= link_to 'edit', edit_listing_path(@listing) %>
        <%= link_to 'delete', delete_listing_path(@listing), method: :delete %>
    <% end %>
</div>