<% @listings.each do |listing| %>
    <div>
        <p><%= listing.address %> cost: <%= listing.price / 100.0 %>$/h</p>
        <p>rating: <%= "â­" * listing.rating %></p>
        <p>
            <%= listing.user.email %>
            <%= link_to 'show', listing_path(listing) %>
        </p>
    </div>
    <br>
<% end %>