<div>
    <%= request.location.city %>
    <span>
        <%= link_to 'home', home_path %>
    </span>
    <span>
        <%= link_to 'search', search_page_path %>
    </span>
    <span>
        <%= link_to 'manage', manage_path %>
    </span>
    <span>
        <%= link_to 'bookings', bookings_path %>
    </span>
    <span>
        <% if current_user == nil %>
            <%= link_to 'login/signup', new_user_session_path %>
        <% else %>
            <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
        <% end %>
    </span>
</div>