<span>
    <%= link_to 'home' %>
</span>
<span>
    search bar
</span>
<span>
    <%= link_to 'search' %>
</span>
<span>
    <%= link_to 'manage', new_listing_path %>
</span>
<span>
    <%= link_to 'bookings' %>
</span>
<span>
    <%= link_to 'profile' %>
</span>