<div>
    <%= request.location.city %>
    <span>
        <%= link_to 'home', home_path %>
    </span>
    <span>
        <%= link_to 'search' %>
    </span>
    <span>
        <%= link_to 'manage', manage_path %>
    </span>
    <span>
        <%= link_to 'bookings' %>
    </span>
    <span>
        <%= link_to 'profile' %>
    </span>
</div>